#more-information .info-tab {
  transition: all 0.25s ease-in-out;
}

#more-information .info-tab.active {
  background: lightslategray;
}

#more-information .info-tab a.nav-link {
  font-size: 24px;
  color: #000000;
  cursor: pointer;
  border-top: solid 1px #000000;
  border-radius: 0;
  display: block;
  text-align: center;
}

#more-information .info-tab a.nav-link.active {
  border-bottom: solid 1px #000000;
  color: #ffffff;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  background: #2f577a;
}

#more-information .info-tab a.nav-link:hover {
  color: #ffffff;
  background: #2f577a;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

#more-information .info-tab .contents {
  display: none;
  padding: 1em 2em;
  background: lightgray;
}

#more-information .info-tab.active .contents {
  display: inherit;
}

#more-information .info-tab .contents p,
#more-information .info-tab .contents li {
  margin-bottom: 1em;
}

#more-information .info-tab a.nav-link {
  font-size: 36px;
}

@media only screen and (max-width: 768px) {
  #more-information .info-tab a.nav-link {
    font-size: 24px;
  }
}
