#menu {
    border-bottom: solid 1px #000;
    margin: 0 auto 2em auto;
    padding: 0;
    background: #ffffff;
}

#menu a {
    padding: 0.75em 0;
    line-height: 1em;
    /*color: rgb(27, 94, 161);*/
    color: #000000;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
    font-size: 24px;
}

#menu a:hover {
    /*background: rgb(27, 94, 161);*/
    background: #000000;
    color: #ffffff;
}

#menu .col-4 {
    padding: 0;
}

@media only screen and (max-width: 1169px) {
    #menu a {
        font-size: 18px;
    }
}