#more-information {
    
}

@media only screen and (min-width: 768px) {
    #more-information {
        
    }
}

#more-information a.nav-link {
    border: solid 1px #000000;
    border-bottom: none;
    font-size: 24px;
    color: #000000;
    cursor: pointer;
}

#more-information a.nav-link.active {
    background: #ded6ca;
    color: #000000;
}

#more-information ul.nav-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    #more-information ul.nav-tabs {
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }
}

#more-information ul.nav-tabs > li.nav-item {
    padding: 0 1em;
}

#more-information .tab-content {
    border-top: solid 1px #000000;
    background: #ded6ca;
    padding: 2em;
}

#more-information .tab-pane {
    
}

#more-information .tab-pane li {
    margin-bottom: 0.5em;
}

#more-information .tab-pane p {
    margin-bottom: 1em;
}