#header {
  border-bottom: solid 1px #000000;
  border-top: solid 1px #000000;
  margin: 1em auto;
  padding: 1em;
}

#header .and {
  display: block;
  font-size: 0.5em;
  font-weight: light;
}

#header .strike-through {
  text-decoration: line-through;
}
