@import "_normalize.scss";
@import "_html5-boilerplate.scss";

$mobile: 450px;
$tablet: 650px;
$desktop: 1920px;

body {
	// background-color: #6EADFF;
	// background-image: url(../img/textured-pattern.png);
}

#main {
	display: flex;
	background-image: url(../img/andrew-christine-engagement-12-09-2017.jpg);
	background-repeat: no-repeat;
	background-position: 70% 0;
	@media screen and (max-width: $tablet) {
		background-image: url(../img/andrew-christine-engagement-12-09-2017-650.jpg);
		background-position: 60% 0;
	}
	@media screen and (max-width: $mobile) {
		background-image: url(../img/andrew-christine-engagement-12-09-2017-450.jpg);
	}
	@media screen and (min-width: $desktop) {
		background-image: url(../img/andrew-christine-engagement-12-09-2017-2560.jpg);
		background-position: 50% 0;
	}
	flex-direction: column;
	min-height: 100vh;
	&, h1, h2, h3, h4, h5, h6 {
		font-family: 'Shadows Into Light Two', cursive;
	}
	padding: 2em;
	color: white;

	hr {
		width: 100%;
	}
}

#announcement{
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 2em;
	border: 3px solid rgba(255,255,255,.5);
	padding: 1em;
	text-align: center;
	position: relative;
	margin: 0 auto;
	background-color: rgba(#000000, 0.65);
	@media screen and (max-width: $tablet) {
		font-size: 1.5em;
	}
	@media screen and (max-width: $mobile) {
		font-size: 1em;
	}
	@media screen and (min-width: $desktop) {
		font-size: 3em;
	}

	.text {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	hr {
		display: block;
		border-top: solid 3px rgba(255,255,255,.5);
	}
}