@import "../../global/css/_variables.scss";

#gmap {
    position: relative;
    background: $color-light-blue;
    color: #FFFFFF;
    text-shadow: 2px 2px rgba(lighten(#333, 10%), 0.5);

    @media screen and (max-width: 960px) {
		padding: 0;
	}
	@media screen and (max-width: $mobile) {
		
	}
	@media screen and (min-width: $desktop) {
		
	}
}